
<!-- Name :<input type="text" placeholder="Enter Name" [(ngModel)]='user.uname'><br/>
Email : <input type="text" placeholder="Enter Email" [(ngModel)]='user.email'><br/>
Password : <input type="password" placeholder="Enter Password" [(ngModel)]='user.password'><br/>

<input type="submit" value="REGISTER" (click)="registerUser()"> -->
  
  <!DOCTYPE html>
  <html>
    <body>
      <div class="regform"><h1>Registration Form</h1></div>
      <div class="main">
          
          <div id="name">
            <h2 class="name">User Name</h2>
            <input class="uname" type="text" name="uname" [(ngModel)]='user.uname' required><br>
            
            <h2 class="name">Email</h2>
          <input class="email" type="text" name="email" [(ngModel)]='user.email' #cpass1="ngModel"  pattern="[^ @]*@[^ @]*" required >
          <label for="email"></label>
        
          <h2 class="name"> Password</h2>
          <input class="password" type="password" name="password" [(ngModel)]='user.password' required>

          <h2 class="name"></h2>
           <input class="btn1" type="submit" value = "Register" (click)="registerUser()">
    </div>
        </div>
        </body>
        </html>
  