<mat-toolbar color="blue">
    <span>Nutrition Blogs</span>
</mat-toolbar>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/fenugreek.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Why Fenugreek Should be Your Kitchen Staple</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/acv.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Does Apple Cider Vinegar Live Up To The Hype?</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/vitamins.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">10 Healthy Foods to Turn to When You're Stressed</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/sucrose.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Everything you need to know about Sucrose</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/sugar.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">7 Ways to Navigate Sugar On Holiday Seasons</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/whole food.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Whole Food Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/dfr.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Dairy Free Breakfast Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/diabetic.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Recipes For Diabetics</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/gluten.jpeg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Gluten Free Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/cheap.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">Cheap and Healthy Recipes</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/fruit.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">9 Fruits That Won't Spike Your Blood Glucose</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card h-100">
        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
          <img
            src="./../assets/images/fibre.jpg"
            class="img-fluid"
          />
          <a href="#!">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
          </a>
        </div>
        <div class="card-body">
          <h3 class="card-title">8 Kinds of Fibre: Which Do You Need?</h3>
          <a href="#!" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
  </div>

